/* Getting the new tags to behave */
article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, section, source, video{ display: block; }
mark, rp, rt, ruby, summary, time{ display: inline }

/* Left & Right alignment */

.left { float:left;}
.right { float:right;}


/* Global properties ======================================================== */

body{ background: center 0 no-repeat #ccc; border:0; font:14px Arial, Helvetica, sans-serif; color:#000; line-height:25px; min-width:960px;}

.css3{border-radius: 8px; -moz-border-radius: 8px; -webkit-border-radius: 8px; box-shadow: 0 0 4px rgba(0, 0, 0, .4); -moz-box-shadow: 0 0 4px rgba(0, 0, 0, .4); -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, .4); position: relative;}

/* Global Structure ============================================================= */

.main {	margin: 0 auto;	width: 960px; border: 1px solid #585858; background:#fff;}

.bg1{ background: 0 0 repeat-x}

/* ============================= main layout ====================== */

a{ color:#7f7f7f; text-decoration: underline; outline:none; }
a:hover{ text-decoration: none}
h1{ padding:35px 0 0 43px;}
h2{ font-size:20px; color:#282828; line-height:1.2em; padding:20px 0 14px 0; letter-spacing:-1px; font-weight:400; margin-left:0px;}
h2 strong{ font-weight:700; color:#181818;}
h3{ font-size:30px; line-height:1.2em; color:#181818; padding:0 0 8px 0; font-weight:400; letter-spacing:-2px;}
h4{ font-size:15px; color:#181818; line-height:1.2em; font-weight:400; letter-spacing: 0px; padding:12px 0 11px 0}
p{ padding-bottom:25px;}

/* ============================= header ====================== */
header{ height:205px; }
#header {background: url(../images/bg_menu.png);}

#logo{ display:block; text-indent:-9999px; background:url(../images/logo.png) 0 0 no-repeat; width:273px; height:86px;}

#menu { width:100%; overflow:hidden; background:url(../images/menu_line.png) 0 0 no-repeat}
#menu > li { float:left; padding-right:2px; background:url(../images/menu_line.png) right 0 no-repeat}
#menu > li > a{ display:block; width:158px; font-size:18px; color:#7f7f7f; text-decoration:none; text-align:center; height:60px; line-height:60px; letter-spacing:-1px; font-family: Calibri;}
#menu > li > a:hover, #menu > .active > a{ background:url(../images/menu_active.png) top repeat-x; color:#fff}

/* ============================= content ====================== */

.box{ background:#fff repeat; padding:40px 46px 50px 49px; overflow:hidden}
#page1 .box{ padding-top:34px;}

#content{ padding-bottom:18px;}
#page2 #content{ padding-bottom:50px;}

.pad_left1{ padding-left:65px; padding-bottom: 5px;}
.pad_bot1{ padding-bottom:15px;}
.pad_bot2{ padding-bottom:30px;}
.marg_right1{ margin-right:40px}
#page2 .pad_bot1{ padding-bottom:40px;}
#page3 .pad_bot1{ padding-bottom:40px;}
.color1{ color:#000}
.color2{ color:#7532a9}

.link1{ color:#ссс; text-decoration: none}
.link1:hover{ color:#505050}

.link2{ color:#505050; text-decoration: none}
.link2:hover{ text-decoration:underline}





.list1{}
.list1 li{ line-height:25px;}
.list1 li a{ color:#fff; text-decoration:none; padding-left:14px; background:url(../images/marker_1.gif) 0 5px no-repeat}
.list1 li a:hover{ color:#7532a9}




.address{ width:97px; float:left;}

/* ============================= footer ====================== */

footer { background: ccc; height:152px; color:#000; border-top: 1px solid #585858;}
footer a{ color:#383838; text-decoration:none}
footer a:hover{ text-decoration:underline}

.line1{ background:url(../images/line_vert1.gif) 260px 0 repeat-y; height:100%;}
.line2{ background:url(../images/line_vert1.gif) 600px 0 repeat-y; height:100%}

.padding {padding-left:15px;} /*отступы содержимого на странице*/
.table {width:300px;}
.normaltip {padding-bottom:45px;}

.icons{ float:left; width:230px; padding-left:70px}
.iconsize {width:25px;}
.lampsize {width:50px;}
.info{ float:left; width:140px;}
.phone{ width:215px; float:right; padding-right:70px;}

.phone span{  font-family: Comic Sans MC; font-size:30px; margin-top:-5px; text-transform:uppercase; display:block; line-height:1.2em; letter-spacing:-2px;}

#icons{ padding: 8px 0 0 0; overflow:hidden;}
#icons li{ float:left; padding-right:6px;}

/* Tooltips */
.aToolTip { background: url(../images/menu_active.gif) top repeat-x;  color:#fff;	margin:0; padding:2px 10px 3px; font-size:11px; line-height:1.2em; position: absolute;}
.aToolTip .aToolTipContent { position:relative;	margin:0; padding:0;}


/* ============================= forms ============================= */

#ContactForm{ padding-top:2px;width:100%; overflow:hidden;}
#ContactForm .wrapper{ min-height:35px;}
#ContactForm .textarea_box{ min-height:264px;}
#ContactForm  span{ float:left; width:120px; line-height:30px;}
#ContactForm .button{ font: Calibri; margin-right:5px; float:right; font-size:25px; color:#282828; text-decoration:none;letter-spacing:-2px; padding:0 13px; line-height:26px; height:31px; background:#fff; position: relative; margin-bottom:5px;}
#ContactForm .button:hover{ background: none; top repeat-x; color:#404040;}
#ContactForm .input { margin:0;width:360px; height:16px; background:#ccc; padding:7px 10px;color:#000; font:14px Arial, Helvetica, sans-serif; margin:0}
#ContactForm textarea { overflow: auto; margin:0;width:720px; height:230px; background:#ccc; padding:7px 10px;color:#474747; font:14px Arial, Helvetica, sans-serif;}

